body {
    font-family: sans-serif;
}
header img{
    height: 50px;
}
header{
    background-color: #FF9F00;
}

footer{
    background-color: #FF9F00;
    padding: 10px;
} 
nav{
color: black;
}
a {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none; 
    border: 5px solid #BF8930;
    border-radius: 50px;
    
    padding: 5px 10px 5px 10px;
}
    footer p {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px;}
h1{
    text-align: center;
     font-size: 50px;
     color: #A66800;

}
main p{
    text-align: center;
}
.e{
    height: 400px;
    
}
.q{
height: 100px;
margin-bottom: 300px;
}
.w{
height: 100px;
margin-bottom: 150px;
}
.r{
    height: 100px;
    margin-right: 50px;
}
.t{
    margin-right: 150px;
}
